
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add A New Product</h3>
            </div>
            <div class="modal-body">
                <div class="alert-zone text-center">

                </div>
                <div class="clearfix"></div>
                <form class="form-group form-group-sm" id="addItemForm" method="post"  enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <input type="file" name="images" class="btn btn-default btn-sm" placeholder="Click to select image..." id="image_box"></span>
                            <span class="input-group-btn">
                                <input class="btn btn-default btn-sm" type="image" alt="no image uploaded" title="image will display here after uploading" id="img_display" style="width: 80px;height:80px;object-fit: cover;">
                            </span>
                            <span class="input-group-btn"><button type="button" class="btn btn-warning btn-sm" id="upload_image">Upload Image</button></span>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control" type="text" placeholder="Name" name="name" id="name" required>
                    </fieldset>
                    <fieldset>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">&#x20B5;</span>
                            <input class="form-group form-control" type="number" step=".01" placeholder="price" name="price" id="price" required aria-describedby="basic-addon2" >
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-2x fa-pencil-square"></i></span>
                            <textarea placeholder="Short Description" class="form-control" name="shortdes" maxlength="150" rows="3" required></textarea>
                        </div>

                    </fieldset>
                    <fieldset>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-3x fa-pencil-square-o"></i></span>
                            <textarea placeholder="Long Description" class="form-control" name="description" rows="10" required></textarea>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label class="text-center"><h5 class="text-center">Featured</h5></label>
                        <div class="input-group">
                            <span class="input-group-addon">Yes <br><input type="radio" class="btn btn-default" name="featured" value="true"></span>
                            <span class="input-group-addon">No <br><input type="radio" class="btn btn-default" name="featured" value="false" checked></span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <hr class="small">
                        <label><h5>Sizes</h5></label>
                        <p class="btn btn-primary pull-right btn-sm" id="newSizeClass">New</p>
                        <div class="size-zone"></div>
                        <hr class="small">
                    </fieldset>
                    <fieldset>
                        <label><h5>Tags</h5></label>
                        <p class="btn btn-warning pull-right btn-sm" id="newTag">New</p>
                        <div class="form-inline form-group" id="tagZone"></div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                <button class="btn btn-success" id="submitItem">Submit</button>
            </div>
        </div>

    </div>
</div>
