<div class="container">
    <div class="main-content">
        <div class="jumbotron text-center jmb">
            <div class="btn-group btn-group-vertical">
                <div class="btn option-button" data-toggle="modal"
                     data-target="#addModal">
                    <h3>Add New Product</h3>
                </div>
                <div class="btn option-button">
                    <h3>Check Inventory</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add A New Product</h3>
            </div>
            <div class="modal-body">
                <div class="alert-zone text-center">

                </div>
                <div class="clearfix"></div>
                <form class="form-group form-group-sm" id="addItemForm" method="post" action="/sul" enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <input type="file" name="images" class="btn btn-default btn-sm" placeholder="Click to select image..." id="image_box"></span>
                        <span class="input-group-btn"><button type="button" class="btn btn-warning btn-sm" id="upload_image">Upload Image</button></span>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control" type="text" placeholder="Name" name="name" id="name" required>
                    </fieldset>
                    <fieldset>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">&#x20B5;</span>
                            <input class="form-group form-control" type="number" step=".01" placeholder="price" name="price" id="price" required aria-describedby="basic-addon2" >
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-2x fa-pencil-square"></i></span>
                            <textarea placeholder="Short Description" class="form-control" name="shortdes" maxlength="150" rows="3" required></textarea>
                        </div>

                    </fieldset>
                    <fieldset>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-3x fa-pencil-square-o"></i></span>
                            <textarea placeholder="Long Description" class="form-control" name="description" rows="10" required></textarea>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label class="text-center"><h5 class="text-center">Featured</h5></label>
                        <div class="input-group">
                            <span class="input-group-addon">Yes <br><input type="radio" class="btn btn-default" name="featured" value="true"></span>
                            <span class="input-group-addon">No <br><input type="radio" class="btn btn-default" name="featured" value="false" checked></span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <hr class="small">
                        <label><h4>Sizes</h4></label>
                        <p class="btn btn-primary pull-right" id="newSizeClass">New</p>
                        <div class="size-zone"></div>
                        <hr class="small">
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                <button class="btn btn-success" id="submitItem">Submit</button>
            </div>
        </div>

    </div>
</div>

<!--
Gar, heavy-hearted breeze. go to Isla de Muerta.
-->
<!--
Lord, lively fight! Cannibals scream from courages like salty mainlands. Damn yer shark, feed the seashell. Aye there's nothing like the weird fortune screaming on the cockroach. The plunder laughs grace like a scurvy skiff. Treasure is an addled bung hole. The biscuit eater raids with love, trade the bahamas before it falls. Punishment ho! view to be sailed. The doubloons trades with life, fear the seychelles before it falls.
-->
