<div class="container">
    <div class="main-content">
        <div class="jumbotron text-center">
            <div class="modal-title">
                <h4 class="fa fa-5x fa-lock"></h4>
                <h3>FLVRE.</h3>
                <h4>Admin Login</h4>
            </div>
        <form method="post" action="/!admin/login">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">Email</span>
                <input class="form-control" placeholder="email address" aria-describedby="basic-addon2" type="email" name="email" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Password</span>
                <input class="form-control" placeholder="password" aria-describedby="basic-addon3" type="password" name="password">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
            </div>
            <fieldset class="text-right">

            <input class="btn btn-success" value="Login" title="Login" type="submit">
            </fieldset>
        </form>
        </div>
    </div>
</div>