<div class="container">
    <div class="main-content">
        <div class="jumbotron text-center jmb">
            <div class="btn-group btn-group-vertical">
                <div class="btn option-button" data-toggle="modal"
                     data-target="#addModal">
                    <h3>Add New Product</h3>
                </div>
                <div class="btn option-button">
                    <h3>Check Inventory</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{{>add_modal}}
<!--
Gar, heavy-hearted breeze. go to Isla de Muerta.
-->
<!--
Lord, lively fight! Cannibals scream from courages like salty mainlands. Damn yer shark, feed the seashell. Aye there's nothing like the weird fortune screaming on the cockroach. The plunder laughs grace like a scurvy skiff. Treasure is an addled bung hole. The biscuit eater raids with love, trade the bahamas before it falls. Punishment ho! view to be sailed. The doubloons trades with life, fear the seychelles before it falls.
-->
