<div class="content">
    <div class="container">
        <div class="login-page">
            <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="/" title="Go to Home Page">Home</a>&nbsp;
                        <span>&gt;</span>
                    </li>
                    <li class="women">
                        Login
                    </li>
                </ul>
                <ul class="previous">
                    <li><a href="/">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="account_grid">
                <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                    <h2>NEW CUSTOMERS</h2>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <a class="acount-btn" href="/signup">Create an Account</a>
                    <h3>Social Login</h3>
                    <p class="row" style="margin-top: 10px">
                        <a class="btn btn-default btn-facebook col-sm-3" style="margin-right: 20px; margin-bottom: 10px;"><i class="fa fa-facebook-official" style="margin-right: 10px;"></i> Facebook</a>
                        <a class="btn btn-default btn-twitter col-sm-3" style="margin-right: 20px; margin-bottom: 10px;"><i class="fa fa-twitter-square" style="margin-right: 10px;"></i> Twitter</a>
                        <a class="btn btn-default btn-google col-sm-3" style="margin-bottom: 10px;"><i class="fa fa-google-plus-official" style="margin-right: 10px;"></i> Google</a>
                    </p>
                </div>
                <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                    <h3>REGISTERED CUSTOMERS</h3>
                    <p>If you have an account with us, please log in.</p>
                    <form method="post" action="/login">
                        <div>
                            <span>Email Address<label>*</label></span>
                            <input type="email" required name="email">
                        </div>
                        <div>
                            <span>Password<label>*</label></span>
                            <input type="password" required name="password">
                        </div>
                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>